<div class="container">
    <h1 class="form-title">会員情報編集</h1>
        <div class="row">
            <div class="col-md-6 col-md-ofset-3 form-wrapper">
            <%= form_with model: @customer, url: update_customer_path, method: :patch, local: true do |f| %>
              <%= render "public/shared/error_messages", resource: @customer %>

              <div class="form-inline">
                <%= f.label :name, "氏名" %>&emsp;
                <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "姓" %>&emsp;
                <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "名" %>
              </div><br>

              <div class="form-inline">
                <%= f.label :name, "フリガナ" %>&emsp;
                <%= f.text_field :last_name_kana, autofocus: true, class: "form-control", placeholder: "セイ" %>&emsp;
                <%= f.text_field :first_name_kana, autofocus: true, class: "form-control", placeholder: "メイ" %>
              </div><br>

              <div class="form-inline">
                <%= f.label :postal_code, "郵便番号" %>&emsp;
                <%= f.text_field :postal_code, autofocus: true %>
              </div><br>

              <div class="form-group">
                <%= f.label :address, "住所" %>
                <%= f.text_field :address, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :phone_number, "電話番号" %>
                <%= f.text_field :phone_number, autofocus: true, class: "form-control" %>
              </div>

              <div class = 'form-group'>
                <%= f.label :email, "メールアドレス" %>
                <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "xxx@email.com" %>
              </div>


              <%= f.submit "変更内容を保存", class: "btn btn-success" %>
              <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger" %>
            <% end %>
            </div>
        </div>
</div>
