<div class="container">
  <h5 class="bg-light text-dark text-center" style="margin-top: 20px; width: 10%">商品編集</h5>
  <% if @item.errors.any? %>
    <%= @item.errors.count %>件のエラーが発生しました
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div class="row g-3">
    <div class="mx-auto test-box">
      <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
       <table>
        <tbody>
          <tr>
            <th class="col-sm-5 col-form-label"><%= f.label :商品画像 %></th>
            <td class="col-sm-10"><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <th class="col-sm-5 col-form-label"><%= f.label :商品名 %></th>
            <td class="col-sm-10"><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th class="col-sm-5 col-form-label"><%= f.label :商品説明 %></th>
            <td class="col-sm-10"><%= f.text_area :introduction, size: "23x5" %></td>
          </tr>
          <tr>
            <th class="col-sm-5 col-form-label"><%= f.label :ジャンル %></th>
            <td class="col-sm-10"><%= f.collection_select(:genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--") %></td>
          </tr>
          <tr>
            <th class="col-sm-5 col-form-label"><%= f.label :税抜価格 %></th>
            <td class="col-sm-10"><%= f.text_field :price %>&nbsp;円</td>
          </tr>
          <tr>
            <th class="col-sm-5 col-form-label"><%= f.label :販売ステータス %></th>
            <td class="col-sm-10" style="margin-right: 2em">
              <%= f.radio_button :is_active, :true %>
              <%= f.label :is_active, "販売中", {value: :販売中, style: "display: inline-block;"} %>&emsp;
              <%= f.radio_button :is_active, :false %>
              <%= f.label :is_active, "販売停止中", {value: :販売停止中, style: "display: inline-block;"} %>
            </td>
          </tr>
          <tr>
            <th></th>
            <th class="col-sm-10">
              <%= f.submit '変更を保存', class: "btn btn-success" %>
            </th>
          </tr>
        </tbody>
       </table>
      <% end %>
    </div>
  </div>
</div>