<div class="container">
  <div class="row">
    <div class="bg-light text-dark text-center" style="margin-top: 30px; margin-bottom: 30px; width: 20%"><strong>ショッピングカート</strong></div>
    <div style="margin-top: 30px" class="col text-right">
      <%= link_to 'カートを空にする', all_destroy_cart_items_path, method: :delete, class: 'btn btn-sm btn-danger' %>
    </div>    

    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 30%">商品名</th>
          <th style="width: 20%">単価(税込)</th>
          <th style="width: 20%">数量</th>
          <th style="width: 20%">小計</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      
      <% @cart_items.each do |cart_item| %>
      <tbody>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td>
            <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
              <%= f.select :amount, *[1..10], include_blank: cart_item.amount %>
              <%= f.hidden_field :item_id, :value => cart_item.item.id %>
              <%= f.submit '変更', class: 'btn btn-sm btn-success' %>
            <% end %>
          </td>
          <td><%= cart_item.subtotal %></td>
          <td><%= link_to '削除する', cart_item_path(cart_item.id), method: :delete, class: 'btn btn-sm btn-danger' %></td>
          <% @total +=  cart_item.subtotal %>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div><%= link_to '買い物を続ける', root_path, class: 'btn btn-md btn-primary' %></div>
  
    <div class="ml-auto">
      <table class="table-bordered justify-content: flex-end">
        <tbody>
          <tr>
            <th style="width: 228px; height: 50px">合計金額</th>
            <td style="width: 114px; height: 50px"><%= @total %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6 offset-md-4" style="margin-top: 60px">
      <%= link_to '情報入力に進む', new_order_path, class: 'btn btn-md btn-success' %>
    </div>
  </div>
  
</div>