<div class="container">
    <div class="row">
      <div class="col-xs-3b pt-5">
        <%= render 'genre_search', genres: @genres %>
      </div>


    <div class="col-9 pt-5 pl-5">

        <div class="row">
            <h2 class="px-3">
              <% if params[:genre_id] %>
                <%= @genre.name %>
              <% else %>
                <strong>商品一覧</strong>
              <% end %>
            </h2>


          <div class="row my-3 ml-1">
            <strong>
              全
              <% if params[:genre_id] %>
                <%= @items.order(created_at: :desc).where(is_active: "販売可").count %>
              <% else %>
                <%= Item.where(is_active: "販売可").count %>
              <% end %>
              件
            </strong>
          </div>
        </div>

        <div class ="row justify-content-lg-around">
          <% @items.each do |item| %>
          <div class="col-mt-3">
            <%= link_to item_path(item) do %>
              <%= image_tag item.get_image, size: "200x100" %>
            <% end %><br>
		        <strong class="red-border"><%= link_to item.name, item_path(item.id) %></strong><br>
		        <strong class="ml-auto">￥<%= (item.price * 1.1).floor %></strong><br>
          </div>
          <% end %>
        </div>
    </div>

    <div class="container">
      <div class="row">
	       <div class="col-md-4 offset-md-4 py-2 mt-5">
	 	      <%= paginate @items %>
	       </div>
	     </div>
    </div>
  </div>
</div>