<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if request.fullpath.include? "/admin" %>
      <%= render 'layouts/admin_header' %>
    <% else %>
      <%= render 'layouts/customer_header' %>
    <% end %>
    <%= flash[:success] %>
    <%= yield %>
    <footer class="fixed-bottom border-top" style="height: 90px;">
      <div class="container">
        <div class="row">
          <div class="offset-4">
            <p class="align-middle pt-5">Copyright © NaganoCake Inc. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
