<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    
    <% if request.fullpath.include? "/admin" %>
      <%= render 'layouts/admin_header' %>
    <% else %>
      <%= render 'layouts/customer_header' %>
    <% end %>
   
    <main>
      <%= flash[:success] %>
      <%= yield %>
    </main>
    
    <footer class="border-top text-light bg-dark" style="height: 85px; text-align: center ; line-height: 85px;">
      Copyright © NaganoCake Inc. All Rights Reserved.
    </footer>
  </body>
</html>
